<mat-card>

    <mat-card-title>

        Manage Monitoring Device {{ (monitoringManageService.device$ | async).name }}

    </mat-card-title>

    <mat-tab-group class="demo-tab-group">

        <mat-tab>

            <ng-template mat-tab-label>

                <mat-icon>security</mat-icon>

                Overview

            </ng-template>

            <div class="tab-content">


            </div>

        </mat-tab>

        <mat-tab>

            <ng-template mat-tab-label>

                <mat-icon>airplay</mat-icon>

                Live Feed

            </ng-template>

            <div class="tab-content">


            </div>

        </mat-tab>

        <mat-tab>

            <ng-template mat-tab-label>

                <mat-icon>subscriptions</mat-icon>

                Playback

            </ng-template>

            <div class="tab-content">


            </div>

        </mat-tab>

        <mat-tab>

            <ng-template mat-tab-label>

                <mat-icon>settings</mat-icon>

                Settings

            </ng-template>

            <div class="tab-content">


            </div>

        </mat-tab>

        <mat-tab>

            <ng-template mat-tab-label>

                <mat-icon>screen_share</mat-icon>

                Sharing

            </ng-template>

            <div class="tab-content">


            </div>

        </mat-tab>

    </mat-tab-group>

</mat-card>
