<mat-card>

    <mat-tab-group class="demo-tab-group">

        <mat-tab>

            <ng-template mat-tab-label>

                <mat-icon>security</mat-icon>

                Overview

            </ng-template>

            <div class="tab-content">

                <app-settings-organizations-manage-overview
                ></app-settings-organizations-manage-overview>

            </div>

        </mat-tab>

        <mat-tab>

            <ng-template mat-tab-label>

                <mat-icon>supervised_user_circle</mat-icon>

                Users

            </ng-template>

            <div class="tab-content">

                <app-settings-organizations-manage-users
                ></app-settings-organizations-manage-users>

            </div>

        </mat-tab>

    </mat-tab-group>

</mat-card>
