:host {

    display: flex;
    align-items: center;

    height: 49px;
    border-bottom: 1.1px solid rgba(0, 0, 0, 0.12);

    background: #fafafa;

    h1 {
        padding: 10px;

        font-weight: normal;
        font-size: 14px;

    }

}
