$header-height: 60px;
$border-separator: 1.1px solid rgba(0, 0, 0, 0.12);

$theme-background-dark: #232329;
$theme-background-accent: #393940;
$theme-background-blue: #1976d2;
$theme-foreground-menu: #104c87;
$theme-foreground-menu-sub: #fff;
$theme-foreground: #fff;
