:host {

    flex: 0 0 250px;
    border-right: 1.1px solid rgba(0, 0, 0, 0.12);

    mat-panel-title {

        mat-icon {

            margin-top: 13px;

        }

    }

    mat-icon {

        font-size: 24px;
        margin-right: 5px;

    }

    mat-toolbar {

        border-bottom: 1.1px solid rgba(0, 0, 0, 0.12);
        background: unset;
        height: 50px;

        font-size: 15px;
        color: #000;

    }

    ul {

        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: left;
        background-color: #202027;

        li {

            display: flex;
            align-items: center;

            cursor: pointer;
            outline: none;

            padding-left: 49px;

            mat-icon {

                font-size: 22px;
                color: #605f7b;

            }

        }

        li:hover {

            background: #46454d;

        }

    }


}
