<div class="card">

    <div class="card-header">

        Create Role

    </div>

    <div class="card-content">

        <form [formGroup]="formGroup">

            <table>

                <tr>

                    <td>

                        <mat-form-field>

                            <mat-select placeholder="Organization(s)"
                                        formControlName="organization_id">

                                <mat-option *ngFor="let organization of organizations" [value]="organization.id">

                                    {{ organization.name }}

                                </mat-option>

                            </mat-select>

                        </mat-form-field>

                    </td>

                </tr>

                <tr>

                    <td>

                        <mat-form-field>

                            <input matInput
                                   appAutofocus
                                   placeholder="Role Name"
                                   formControlName="name"
                                   class="form-control">

                        </mat-form-field>

                    </td>

                </tr>

                <tr>

                    <td>

                        <mat-form-field>

                            <textarea matInput
                                      appAutofocus
                                      placeholder="Role Description"
                                      formControlName="description"
                                      class="form-control"></textarea>

                        </mat-form-field>

                    </td>

                </tr>

                <tr>

                    <td>

                        <mat-form-field>

                            <mat-select placeholder="Role Status"
                                        formControlName="status">

                                <mat-option *ngFor="let status of statuses" [value]="status">

                                    {{ status | uppercase }}

                                </mat-option>

                            </mat-select>

                        </mat-form-field>

                    </td>

                </tr>

            </table>

            <form-buttons buttonBackPath="/settings/users"
                          (onButtonSaveClick)="onButtonSaveClick()"
                          [buttonDeleteHide]="true"
                          buttonSaveLabel="Create User"></form-buttons>

        </form>

    </div>

</div>
