@import '~@angular/material/theming';
@import '../shared/scss/theme';

:host {

    @include mat-elevation(2);

    display: flex;
    align-items: center;

    height: 49px;
    //border-bottom: 1.1px solid rgba(0, 0, 0, 0.12);
    background: $theme-background-blue;


    .header-title {

        display: flex;
        flex: 0 0 150px;

        padding: 10px;

        font-weight: bold;

    }

    .header-buttons {

        display: flex;
        flex: 1;

        justify-content: flex-start;

        padding: 10px;

        font-size: 14px;

        mat-icon {

            font-size: 20px;

        }

    }

    .header-title {

        padding: 10px;

        font-weight: normal;
        font-size: 19px;

    }

}
