body {

    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.flex-wrapper {

    display: flex;
    flex-direction: column;

}

.header {

    flex: 0 0 150px;
    background: #868e96;

}
.footer {

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    height: 100px;

    background: #868e96;

}
.content {

    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    bottom: 100px;


    display: flex;
    flex: 1;
    flex-direction: row;

}

.main-wrapper {

    overflow: auto;
    flex: 1;

}
.main {

    height: 2000px;

    padding: 20px;
    text-align: center;


}

.sidebar-left,.sidebar-right {

    flex: 0 0 200px;
    height: 100%;
    background: #eee;

}
