<div class="select-add">

    <p>Add Role:</p>

    <mat-select #select
                (valueChange)="onSelectChange($event)"
                placeholder="Select a role..">

        <mat-option *ngFor="let role of roles" [value]="role">

            {{ role.name }}

        </mat-option>

    </mat-select>

</div>

<div class="content-wrapper">

    <data-table #datatable [columns]="[{

            name:'Id'

        },{

            name: 'Name'

        },{

            name:'Description'

        },{

            name:'Users'

        },{

            name:'Status'

     }]"></data-table>


    <ng-template #nameTemplate let-column="column" let-row="row" let-value="value">

        <span *ngFor="let user of row.users">

            {{ user.username }}

        </span>

    </ng-template>

</div>
